absl-py @ file:///Users/runner/miniforge3/conda-bld/absl-py_1606235617667/work
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1614281151354/work
anyio @ file:///Users/runner/miniforge3/conda-bld/anyio_1614388790158/work/dist
appnope==0.1.2
argon2-cffi @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi_1610522612123/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
astroid @ file:///opt/concourse/worker/volumes/live/343a8902-287c-47fb-6db8-923a63364302/volume/astroid_1613500849157/work
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
autograd==1.3
autograd-gamma @ file:///home/conda/feedstock_root/build_artifacts/autograd-gamma_1602812384676/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1605182336601/work
backcall==0.2.0
backports.functools-lru-cache==1.6.1
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1612213472466/work
blinker==1.4
brotlipy==0.7.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1611555765219/work
certifi==2020.12.5
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1613414067184/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1610093477312/work
click==7.1.2
coverage @ file:///Users/runner/miniforge3/conda-bld/coverage_1614551305873/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1612993961228/work
cycler==0.10.0
Cython==0.29.17
decorator==4.4.2
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
et-xmlfile==1.0.1
formulaic @ file:///home/conda/feedstock_root/build_artifacts/formulaic_1612897244765/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1614107550004/work
future @ file:///Users/runner/miniforge3/conda-bld/future_1610147350851/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1608136875028/work
google-auth-oauthlib==0.4.1
grpcio @ file:///opt/concourse/worker/volumes/live/b549791f-b47d-49ca-7293-5d53b55def5a/volume/grpcio_1614884176451/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1614194119365/work
interface-meta @ file:///home/conda/feedstock_root/build_artifacts/interface_meta_1609880208314/work
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
isort @ file:///tmp/build/80754af9/isort_1612243941122/work
jdcal==1.4.1
jedi==0.18.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1612119311452/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1614815863336/work
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyter-packaging @ file:///home/conda/feedstock_root/build_artifacts/jupyter-packaging_1613054948399/work
jupyter-server @ file:///Users/runner/miniforge3/conda-bld/jupyter_server_1614029014467/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1615297377597/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1613760084674/work
kiwisolver @ file:///opt/concourse/worker/volumes/live/0b2f3e77-eaa3-4995-7dd0-c994762fcbde/volume/kiwisolver_1612282417472/work
lazy-object-proxy @ file:///opt/concourse/worker/volumes/live/57602dd8-a9b0-4acd-437d-9483e38dc540/volume/lazy-object-proxy_1606850080641/work
lifelines @ file:///home/conda/feedstock_root/build_artifacts/lifelines_1614814937680/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1614595805172/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1610127533370/work
matplotlib @ file:///opt/concourse/worker/volumes/live/41e8cd50-031f-4dda-5787-dd3c4f4e0f08/volume/matplotlib-suite_1613407855571/work
mccabe==0.6.1
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1610112894259/work
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1610319065069/work
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1610352513187/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1614336084111/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1605401854594/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1611005694671/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1605195931949/work
notebook @ file:///Users/runner/miniforge3/conda-bld/notebook_1610575341568/work
numpy @ file:///opt/concourse/worker/volumes/live/5572694e-967a-4c0c-52cf-b53d43e72de9/volume/numpy_and_numpy_base_1603491881791/work
oauthlib==3.0.1
olefile==0.46
openpyxl @ file:///tmp/build/80754af9/openpyxl_1615411699337/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas==1.2.3
pandocfilters==1.4.2
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///opt/concourse/worker/volumes/live/3fb18867-d509-48fe-7811-21829c4a0332/volume/pillow_1614711415908/work
plotly @ file:///tmp/build/80754af9/plotly_1610565580232/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1605543085815/work
prompt-toolkit==3.0.16
protobuf==3.14.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments==2.8.0
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1610910308735/work
pylint @ file:///opt/concourse/worker/volumes/live/6955ee35-f724-40f5-5ceb-b17f5fe22813/volume/pylint_1614365844747/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1610146902061/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291493748/work
python-dateutil==2.8.1
pytorch-lightning @ file:///home/conda/feedstock_root/build_artifacts/pytorch-lightning_1614192775604/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyYAML==5.4.1
pyzmq==22.0.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
retrying==1.3.3
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1614171254180/work
scikit-learn==0.22.1
scipy==1.4.1
Send2Trash==1.5.0
six @ file:///opt/concourse/worker/volumes/live/5b31cb27-1e37-4ca5-6e9f-86246eb206d2/volume/six_1605205320872/work
sniffio @ file:///Users/runner/miniforge3/conda-bld/sniffio_1610318396434/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1610699261066/work/tensorboard-2.4.1-py3-none-any.whl
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1611075653546/work/tensorboard_plugin_wit-1.8.0-py3-none-any.whl
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1609794189584/work
testpath==0.4.4
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
torch==1.8.0
torchaudio==0.8.0a0+a751e1d
torchvision==0.9.0
tornado==6.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1614279180094/work
traitlets==5.0.5
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1611695416663/work
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt @ file:///opt/concourse/worker/volumes/live/e3646d84-e961-4523-6bed-01532273c57e/volume/wrapt_1597851473852/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1610354259068/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1603668650351/work
